{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>タスク編集</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <h1>タスクを編集</h1>
    <p>以下のフォームからタスクを編集できます。</p>
    <form action="{% url 'update' task.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="タイトルを入力" value="{{ task.title }}">
      </div>
      <div>
        <label for="dueInput">期限</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
      </div>
      <div>
        <label for="priorityInput">優先度</label><br>
        <select id="priorityInput" name="priority">
          <option value="high" {% if task.priority == 'high' %}selected{% endif %}>高</option>
          <option value="medium" {% if task.priority == 'medium' %}selected{% endif %}>中</option>
          <option value="low" {% if task.priority == 'low' %}selected{% endif %}>低</option>
        </select>
      </div>
      <div>
        <button type="submit">保存</button>
      </div>
    </form>
    <br>
  </body>

</html>
