{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>ToDoアプリ</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <h1>サンプル ToDo アプリ</h1>
    <p>以下のフォームからタスクを登録できます。</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="タイトルを入力">
      </div>
      <div>
        <label for="dueInput">期限</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">登録</button>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">期限順に並べ替え</a> |
      <a href="{% url 'index' %}?order=post">登録日順に並べ替え</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url "detail" task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>Status: Completed</li>
        {% else %}
        <li>Status: Not Completed</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>
