{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>タスク削除</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <h1>タスク削除</h1>
    <p>本当に以下のタスクを削除しますか？</p>

    <div>
        <h2>{{ task.title }}</h2>
        <ul>
            <li>登録日：{{ task.posted_at }}</li>
            {% if task.due_at %}
            <li>期限：{{ task.due_at }}</li>
            {% endif %}
        </ul>
    </div>

    <form action="{% url 'delete' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" style="color: red;">削除</button>
        <a href="{% url 'index' %}">キャンセル</a>
    </form>
</body>
</html>